<!DOCTYPE html>
<html>
<head>
   <title>Draw</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
   <link href="/css/bootstrap.min.css" rel="stylesheet">
   <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
   <link href="/css/basic.css" rel="stylesheet">
   <link href="/css/draw.css" rel="stylesheet">
   <meta name="viewport" content="width=320, initial-scale=1"> 
</head>
 
<body>


<p hidden id="back">/{{back}}?word1={{word1}}&word2={{word2}}&word3={{word3}}&word4={{word4}}</p>
<p hidden id="forward">/{{forward}}?word1={{word1}}&word2={{word2}}&word3={{word3}}&word4={{word4}}</p>
<div id="container">
  {{#if swipe}}
      <div class="arrow" id="left-arrow">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </div>
      <div class="arrow" id="right-arrow">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>
  {{/if}}
   <p id="words">{{text}}</p>
   <h1 id="title">Draw</h1>
   <h2 id="instructions">Try to draw a cat...</h2> 
   <div id="nagivation_bar">
      <ol class="nav nav-pills">
        <li class = "active">
          <a href="/clock" data-ajax="false">
            <span class="glyphicon glyphicon-time"></span>  
            Change Time
          </a>
        </li>
        <li class = "active">
          <a href="/cloud" data-ajax="false">
            <span class="glyphicon glyphicon-cloud"></span>
            Change Words
          </a>
        </li>
      </ol>
    </div>
   </div>

    <div id="canvasDiv">      <!-- It's bad practice (to me) to put your CSS here.  I'd recommend the use of a CSS file! -->
      <canvas id="canvasSignature"></canvas>
   </div>

   <p><input type="button" value="Clear" id="clearBtn"/></p>



   <script src="http://code.jquery.com/mobile/1.4.0-alpha.2/jquery.mobile-1.4.0-alpha.2.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   <script src="/js/basic.js"></script>
   <script src="/js/draw.js"></script>
</body>
</html> 