<!DOCTYPE html>

<html>
  <head>
    <title>Magical Places</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/basic.css" rel="stylesheet">
    <link href="/css/places.css" rel="stylesheet">
    <meta name="viewport" content="width=320, initial-scale=1">
  </head>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


  <body>
  <p hidden id="back">/{{back}}?word1={{word1}}&word2={{word2}}&word3={{word3}}&word4={{word4}}</p>
  <p hidden id="forward">/{{forward}}?word1={{word1}}&word2={{word2}}&word3={{word3}}&word4={{word4}}</p>
  <div id="container">
    {{#if swipe}}
      <div class="arrow" id="left-arrow">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </div>
      <div class="arrow" id="right-arrow">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>
    {{/if}}
    <p id="words">{{text}}</p>
    <h1 id="title">Magical Places</h1>
    <img id="image" src="http://media-cache-ak0.pinimg.com/736x/94/b0/4d/94b04d18777846902bccf184197ef0ec.jpg" />
    <p id="name">Golden Gate Bridge, San Francisco, USA</p>
    <div id="swipe">Swipe</div>
    <div id="nagivation_bar">
      <ol class="nav nav-pills">
        <li class = "active">
          <a href="/clock" data-ajax="false">
            <span class="glyphicon glyphicon-time"></span>  
            Change Time
          </a>
        </li>
        <li class = "active">
          <a href="/cloud" data-ajax="false">
            <span class="glyphicon glyphicon-cloud"></span>
            Change Words
          </a>
        </li>
      </ol>
    </div>

  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      $(document).bind("mobileinit", function(){
        $.mobile.loadingMessage = false;
      });
    </script>
    <script src="http://code.jquery.com/mobile/1.4.0-alpha.2/jquery.mobile-1.4.0-alpha.2.min.js"></script>
    <script src="/js/places.js"></script>
    <script src="/js/basic.js"></script>
  </body>
</html>
