<!DOCTYPE html>

<html>
  <head>
    <title>Yogic Breathing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/basic.css" rel="stylesheet">
    <link href="/css/video.css" rel="stylesheet">
    <meta name="viewport" content="width=320, initial-scale=1">
  </head>
    
  <body>
  <p hidden id="back">/{{back}}?time_range={{time_range}}&word1={{word1}}&word2={{word2}}&word3={{word3}}&word4={{word4}}</p>
  <p hidden id="forward">/{{forward}}?time_range={{time_range}}&word1={{word1}}&word2={{word2}}&word3={{word3}}&word4={{word4}}</p>
  <div id="container">
    {{#if swipe}}
      <div id="message">Swipe screen left/right for more activities!</div>
    {{/if}}
    <p id="words">{{text}}</p>
    <h1 id="title">Yogic Breathing</h1>
    <h2 id="instructions">Try this breathing excercise!</h2> 
    <div class="video">
      <iframe 
      width="320" height="280" src="http://www.youtube.com/embed/hJxJ_jeGPJ4?rel=0"
      frameborder="0" allowfullscreen>
      </iframe>
    </div>
      
    <div id="nagivation_bar">
      <ol class="nav nav-pills">
        <li class = "active">
          <a href="/clock" data-ajax="false">
            <span class="glyphicon glyphicon-time"></span>  
            Change Time
          </a>
        </li>
        <li class = "active">
          <a href="/cloud?time_range={{time_range}}&" data-ajax="false">
            <span class="glyphicon glyphicon-cloud"></span>
            Change Words
          </a>
        </li>
      </ol>
    </div>


  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->  
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
      $(document).bind("mobileinit", function(){
        $.mobile.loadingMessage = false;
      });
    </script>
    <script src="http://code.jquery.com/mobile/1.4.0-alpha.2/jquery.mobile-1.4.0-alpha.2.min.js"></script>    
    <script src="/js/basic.js"></script>
  </body>
</html>